doctype html
head
  meta(charset="UTF-8")
  title This is the title
body
  h1 Basic no JS html page
  p This page has:
  ul
    li The correct doctype
    li The correct charset
  
  p This page is declared as "index.static.pug", and built with the default settings of `norm-build` using `yarn build`. The output file is `index.html`