doctype html
head
  meta(charset="UTF-8")
  script(src="./index.js")
  title This is the title
body
  .root
  #updateAvailable(style="display:none; position: absolute; bottom: 10px; height: 3em; left: 10px;")
    span
      | A new version is available
      a Refresh
  script
    | function failedToRegister(error) {
    |   console.error("Failed to register a service worker\n", error)
    | }
    | function successfullyRegistered(registeredServiceWorker) {
    |   console.info("Service Worker Registered");
    |   registeredServiceWorker.addEventListener('updatefound', () => {
    |     console.log("New service worker found");
    |     const newServiceWorker = registeredServiceWorker.installing;
    |     newServiceWorker.addEventListener('statechange', () => {
    |       if(newServiceWorker.state === 'installed') {
    |         if(navigator.serviceWorker.controller) {
    |           showUpdateNotification(newServiceWorker);
    |         }
    |       }
    |     });
    |   });
    | }
    |
    | if('serviceWorker' in navigator) {
    |   let refreshing;
    |   navigator.serviceWorker.addEventListener('controllerchange', function () {
    |     if (refreshing) return;
    |     window.location.reload();
    |     refreshing = true;
    |   });
    |
    |   navigator.serviceWorker
    |     .register('/sw.js')
    |     .then(successfullyRegistered, failedToRegister);
    | } else {
    |   failedToRegister(new Error("Browser does not support serviceWorker"))
    | }
    | 
    | function showUpdateNotification(newServiceWorker) {
    |   console.log("Attempting to show update Notification");
    |   const updateNotification = document.getElementById('updateAvailable');
    |   updateNotification.style.display = "block";
    |   updateAvailable.querySelector('a').addEventListener('click', (e) => {
    |     newServiceWorker.postMessage({ action: 'skipWaiting' });
    |     e.preventDefault();
    |   });
    | }